$primary-color: lavender;
$secondary-color: lightgrey;
// nav {
//     // border-bottom: 2px solid grey;
// }
.jumbotron {
    border-radius: 0;
    background-image: linear-gradient( $secondary-color, $primary-color);
}
.grid {
    padding: 0 32px;
}
.grid div div {
    padding: 10px;
}
.imagesContainer {
    margin: 10px auto;
    width: 1000px;
}
.imagesColumn {
    width: calc(33.33% - 16px);
    display: block;
    float: left;
}
.imagesColumn img {
    width: 100%;
    height: 100%;
    margin-bottom: 24px;
}